body {
    background-color: rgba(211, 211, 211, 0.884) ;
}

table {
    background-color: white;
}
@media only screen and (max-width: 300px) {
    body {
        background-color: rgb(107, 168, 189);
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(35, 138, 172);
    }
}
@media only screen and (max-width: 900px) {
    body {
        background-color: rgb(5, 100, 129);
    }
}

a:hover {
    color: rgba(255, 166, 0, 0.815);
}


tbody tr:nth-child(odd) {
    background: rgba(255, 0, 0, 0.151);
}


tbody tr:hover
 {
    
    background-color : rgb(59, 16, 16)  ;

}

img:hover {
    
    transform : scale(2)  ;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}



