body {
    background-color: rgba(211, 211, 211, 0.884) ;
}

table {
    background-color: white;
}

a:hover {
    color: rgba(255, 166, 0, 0.815);
}

tbody tr:nth-child(odd) {
    background: rgba(255, 0, 0, 0.151);
}

tbody tr:nth-child(odd) {
    background: rgba(255, 0, 0, 0.151);
}


tbody tr:hover
 {
    
    background-color:olivedrab ;

}

