body {
    background-color: rgba(211, 211, 211, 0.884) ;
}

table {
    background-color: white;
}

a:hover {
    color: orange;
}

tbody tr:nth-child(3n+0) {
    background: rgba(255, 0, 0, 0.151);
}


